.image-text {
    border: 1px solid red;
}

.image-text-wrapper {
    border: 1px solid yellow;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between;
  }
  
  .image-text-wrapper > .image-text {
    display: flex;
    width: 100%;
    margin: 32px 0;
  }
  
  .image-text-wrapper > .image-text > div {
    display: flex;
    flex-direction: row; /* Ensure the direction is row */
    width: 100%;
    gap: 16px; /* Adjust gap for better spacing */
  }
  
  .image-text-wrapper .image-text > div > div {
    /* flex: 1; */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    display: flex;
    flex-direction: column; /* Ensure text elements are stacked */
    justify-content: center; /* Center text vertically within the text container */
  }
  
  .image-text-wrapper .image-text > div > div > * {
    margin: 0; /* Remove margins from all child elements */
  }
  
  .image-text-wrapper img {
    max-width: 100%;
    height: auto;
  }
  
  .image-text-wrapper .image-text-img-col {
    flex: 0 0 67%;
  }
  
  @media (width >= 900px) { /* Correct the media query syntax */
    .image-text-wrapper > .image-text > div {
      align-items: center; /* Center items vertically */
      flex-direction: row; /* Ensure flex direction is row */
      gap: 16px; /* Adjust gap for better spacing */
    }
  
    .image-text-wrapper .image-text > div > div {
      /* flex: 1; */
      order: unset;
    }
  }
  