.image-text-wrapper {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
 }

 .image-text-wrapper > .image-text {
    display: flex;
    width: 100%;
    margin-top:35px;
    margin-bottom: 70px;
  }

  .image-text-wrapper > .image-text > div {
    display: flex;
    flex-direction: row; /* Ensure the direction is row */
    width: 100%;
    gap: 16px; /* Adjust gap for better spacing */
  }
  
.image-column {
    width: 66.6666%;
    margin: 0;
}

.image-column picture img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    margin: 0;
}




.text-column {
    width: 33.3333%;
    margin: 0;
    vertical-align: top;
}

.text-column p {
    font-size: 16px;
    line-height: 24px;
    hyphens: auto;
}

.text-column h1 {    
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.56px;
    line-height: 36px;
    text-transform: uppercase;
    padding-bottom: 24px;
    vertical-align: top;
    margin-top: 0;
}















